.insertWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  gap: 0.7rem;

  textarea {
    height: 100px;
    font-family: inherit;
    padding: 1rem;
  }
}

.button {
  display: flex;
  justify-content: flex-end;

  button {
    width: 20%;
  }
}
