.wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.3rem;
}

.filterBtn {
  display: flex;
  gap: 1rem;

  button {
    width: 150px;
    background-color: transparent;
    color: #ffc700;
    border: 1px solid #ffc700;
  }
}
