.container {
  /* width: 500px; */
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}
.answer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.insertWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 0.7rem;

  textarea {
    height: 100px;
  }
}

.buttonWrapper {
  width: 300px;
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}
