.container {
  /* width: 500px; */
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}
.answer {
  width: 70%;
  display: flex;
  gap: 2rem;
  /* justify-content: space-evenly; */
  background-color: white;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.answerText {
  width: 300px;
}

.buttonWrapper {
  width: 300px;
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}

.likeNumber {
  display: flex;
  justify-content: center;
  align-items: center;
}
