.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 5rem;

  textarea {
    width: 600px;
    height: 200px;
    font-family: inherit;
    padding: 1rem;
  }
}
.inputWrp {
  padding-top: 2rem;
}

.button {
  width: 600px;
  display: flex;
  justify-content: flex-end;

  button {
    width: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;

    textarea {
      width: 500px;
    }
  }

  .button {
    width: 100%;
    justify-content: center;
  }
}
